@use '../styles/abstracts/colors' as *;

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 0 20px;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        font-weight: bold;
        cursor: pointer;
        color: #613033;

        li {
            margin: 1em;
            font-size: 18px;
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: semi-bold;
            text-transform: none;
            line-height: 1.8;
            letter-spacing: 1px;
        }
    }

    .logoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto; 
    }

    .logo {
        height: 100px; 
        width: auto;
        object-fit: contain;
    }

    .largeLogo {
        width: 380px; 
        max-width: 100%;
        height: auto;
        margin-top: -100px;
    }
}

.light {
    background-color: $primary;
}

.dark {
    background-color: $secondary;
}
