@use '../styles/abstracts/colors' as *;

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e67e22;
  margin-bottom: 20px;
  text-align: center;
}

.recipeList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.recipeCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px $secondary;
  padding: 15px;
}

.recipeImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin-bottom: 15px;
}

.recipeTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.sectionTitle {
  font-size: 1.2rem;
  margin-top: 10px;
}

.ingredients, .instructions {
  list-style-type: none;
  padding: 0;
}

.ingredients li, .instructions li {
  margin-bottom: 8px;
}

.contentWrapper {
  padding: 0 100px;
}

@media (max-width: 660px) {
  .contentWrapper {
    padding: 0 20px;
  }

  .title {
    font-size: 2rem;
  }

  .recipeList {
    grid-template-columns: 1fr;
  }

  .recipeCard {
    padding: 10px;
  }

  .recipeImage {
    height: 200px;
  }

  .recipeTitle {
    font-size: 1.3rem;
  }

  .sectionTitle {
    font-size: 1.1rem;
  }

  .ingredients li, .instructions li {
    font-size: 0.9rem;
  }
}

@media (max-width: 370px) {
  .contentWrapper {
    padding: 0 10px;
  }

  .title {
    font-size: 1.8rem;
  }

  .recipeImage {
    height: 180px;
  }

  .recipeTitle {
    font-size: 1.2rem;
  }

  .sectionTitle {
    font-size: 1rem;
  }

  .ingredients li, .instructions li {
    font-size: 0.85rem;
  }
}
