@use '../abstracts/colors' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.light {
    .text {
        color: $dark-900;
    }

    .background {
        background-color: $dark-000;
    }

    main.content {
        background-color: $dark-000;
        padding-top: 80px;
        padding-bottom: 40px;
        min-height: calc(100vh - 160px);
    }
}

.dark {
    .text {
        color: $white;
    }

    .background {
        background-color: $dark-700;
    }

    main.content {
        background-color: $dark-700;
        padding-top: 80px;
        padding-bottom: 40px;
        min-height: calc(100vh - 160px);
    }
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.switch-button {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 6px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: $white;
    background-color: $dark-700;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
  
    &:hover {
      background-color: $dark-900;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }
  
    &:active {
      background-color: $dark-800;
      transform: translateY(0);
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 128, 255, 0.5);
    }
  }

  .dark-theme-button {
    color: $dark-900;
    background-color: $white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  
    &:hover {
        background-color: $white;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
    }

    &:active {
        background-color: $white;
        transform: translateY(0);
    }
  }
